.skillItem {
  background-color: #fff;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  margin: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.skillItem .bgImage {
  background-size: 512px;
  width: 65%;
  height: 100%;

  max-width: 100%;
  max-height: 100%;
  padding: auto;
  margin: 0 auto;
  background-position: center, center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 1300px) {
  .skillList {
    width: 100%;
    flex-direction: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
  }

  .skillItem {
    align-items: center;
    justify-content: center;

    max-width: 200px;
    max-height: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .skillList {
    width: 100%;
    flex-direction: grid;
    grid-template-columns: 1fr;
    position: relative;
  }

  .skillItem {
    align-items: center;
    justify-content: center;
    max-width: 150px;
    max-height: 150px;
  }
}
