.home {
  width: 100%;
  align-items: center;
  color: #f9004d;
}

.aboutme {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #191919;
  color: #f0f0f0;
}

.aboutme h2 {
  font-size: 65px;
  color: #f9004d;
  height: 50px;
}

.aboutme h2 span {
  font-family: "Kaushan Script", cursive;
  font-size: 80px;
}

.aboutme .prompt {
  width: 40%;
  font-size: 30px;
}

.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 35px;
  width: 100%;
  /* display: flex; */
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}

.skills h1 {
  color: #f9004d;
}

.prompt button {
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .aboutme .prompt {
    display: flex;
    flex-direction: column;
  }

  .aboutme {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  .prompt {
    width: 100%;
  }

  .skills {
    width: 100%;
  }

  .aboutme h2 {
    font-size: 40px;
  }

  .aboutme .prompt {
    font-size: 20px;
  }

  .skills h1 {
    font-size: 30px;
  }
}

.skill-header {
  /* margin-bottom: 1rem; */
}

.skills-wrapper {
  display: grid;
  gap: 50px 100px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.icon {
  max-width: 128px;
  max-height: 128px;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: auto;
}

.icon-card {
  width: 128px;
  height: 128px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}
