.image-slider {
  width: 100%;
  height: calc(100vh - 100px);
  /*  */
}

.carousel {
  margin: auto;
  width: 100%;
  /* height: 100%; */
  height: 100vh;
  /* height: calc(100vh - 100px); */
  position: relative;
}

.card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 350px;
  height: 525px;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
  opacity: 0;

  transition: 500ms;
}

.card--active {
  opacity: 1;
  transform: scale(1);
  z-index: 1;
}

.card--left {
  transform: translateX(-50%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
}

.card--right {
  transform: translateX(50%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
}

@media only screen and (max-width: 600px) {
  .image-slider {
    width: 100%;
    height: 40vh;
    /* position: relative; */
  }

  .card {
    width: 80%;
    height: auto;
    height: 100%;
    /* top: auto; */
    left: 50%;
    transform: translateX(-50%);
  }

  .carousel {
    width: 100%;
    /* height: 100%; */
    height: 40vh;
    /* position: relative; */
  }

  .card:nth-of-type(3) {
    display: none;
  }
}
