.project {
  background-color: #191919;
  display: flex;
  align-items: center;
}

.project > div {
  flex: 1;
  text-align: center;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.item {
  margin: 8px 0;
  text-align: left;
  color: white;
}

.project h1,
h2 {
  color: #f9004d;
}

.image-slider {
  border-radius: 8px;
}

@media (max-width: 600px) {
  .project {
    flex-direction: column;
  }
}
